



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3 style="margin-top:0px;">Account</h3>
            <p>
                Manage your account
            </p>
        </div>
        <div class="col-sm-9">
            <div class=well>

<div ng-hide="!api.busy">wait...</div>
<div ng-hide="api.busy">
    <div ng-hide="user">
        Something wrong... <a ng-click="api.getUser()">click here</a> to try again.
    </div>
    <div ng-hide="!user">
        <h3 style="margin-top: 0px;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Your account is ok</i></h3>
        <p>Your username is <i>'{{user.username}}'</p>
        <p ng-hide="!user.isAdmin">You have super powers. Be responsible :)</p>
        <p><a href="#/accountPassword" >change your password</a> from time to time</p>
    </div>
</div>

            </div>            
        </div>
    </div>
</div>












